front_view_recognize.mp4 filter=lfs diff=lfs merge=lfs -text
front_view.1.mp4 filter=lfs diff=lfs merge=lfs -text
front_view.2.mp4 filter=lfs diff=lfs merge=lfs -text
front_view.3.mp4 filter=lfs diff=lfs merge=lfs -text
right_order.1.mp4 filter=lfs diff=lfs merge=lfs -text
right_order.2.mp4 filter=lfs diff=lfs merge=lfs -text
right_order+side_view(2).mp4 filter=lfs diff=lfs merge=lfs -text
side_view.1.mp4 filter=lfs diff=lfs merge=lfs -text
side_view.2.mp4 filter=lfs diff=lfs merge=lfs -text
up_view.1.mp4 filter=lfs diff=lfs merge=lfs -text
up_view.2.mp4 filter=lfs diff=lfs merge=lfs -text
wrong_order.1.mp4 filter=lfs diff=lfs merge=lfs -text
wrong_order.2.mp4 filter=lfs diff=lfs merge=lfs -text
wrong_order+side_view(1).mp4 filter=lfs diff=lfs merge=lfs -text
wrong_order+side_view(2).mp4 filter=lfs diff=lfs merge=lfs -text
zojirushi.1.mp4 filter=lfs diff=lfs merge=lfs -text
zojirushi.2.mp4 filter=lfs diff=lfs merge=lfs -text
zojirushi.3.mp4 filter=lfs diff=lfs merge=lfs -text
assets/Videos[[:space:]]and[[:space:]]Animations/*.mp4 filter=lfs diff=lfs merge=lfs -text
